@page "/pokemons"
@using BlazorProject.Shared.DTO
@using Blazorise.Components
@using BlazorProject.Client.Shared.Models
@using BlazorProject.Client.Shared.Utils
@inject HttpClient Http
@inherits RealmComponent<State>

@{ 
    Pokemon = @Store.GetState().Pokemon;
    if(Pokemon != null)
    {
        Pokemon.Height /= 10;
        Pokemon.Weight /= 10;
    }
 }


<h1>Pokemons List</h1>

@if (dropdowns.Count == 0)
{
    <p><em>Loading..</em></p>
}
else
{
<div class="container-fluid">
    <div class="row">
        @for (var genNumber = 1; genNumber <= dropdowns.Count; genNumber++)
        {
            <div class="col">
                <DropdownComponent GenNumber="@genNumber" Items="@dropdowns[genNumber - 1]" />
            </div>
        }
    </div>
    @if (Pokemon != null)
    {
        <div class="row align-items-center">
            <div class="col-4">
                @{ var source = $"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{Pokemon.Id}.png";}
                <img src=@source style="width:100%;height:auto;" class="img-fluid">
            </div>
            <div class="col-4">
                <h2>Pokedéx Data</h2>
                <table class="table">
                    <tbody>
                        <tr>
                            <td class="w-25">Pokemon:</td>
                            <td>@Pokemon.Name</td>
                        </tr>
                        <tr>
                            <td>Type:</td>
                            <td>
                                @foreach (var type in Pokemon.PokemonTypes.OrderBy(o => o.Slot))
                                {
                                    <button class="fire-type" style="background-color:@Utils.GetColorHex(type.Type.Name) !important" type="button">@type.Type.Name.ToUpper()</button>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>Dex No.:</td>
                            <td>@Pokemon.Position</td>
                        </tr>
                        <tr>
                            <td>Height:</td>
                            <td>@Pokemon.Height m</td>
                        </tr>
                        <tr>
                            <td>Weight:</td>
                            <td>@Pokemon.Weight kg</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-6">
                <h2>Pokémon Stats</h2>
                <table class="table table-sm">
                    <tbody>
                        <tr>
                            <td style="width:16.66%" class="text-muted">HP</td>
                            <td style="width:8.33%">@Pokemon.PokemonStats.Hp</td>
                            <td style="width:58.33%; vertical-align:middle !important">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </td>
                            <td style="width:8.33%">100</td>
                            <td style="width:8.33%">200</td>
                        </tr>
                        <tr>
                            <td class="text-muted">Attack</td>
                            <td>@Pokemon.PokemonStats.Attack</td>
                            <td style="vertical-align:middle !important">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </td>
                            <td>100</td>
                            <td>200</td>
                        </tr>
                        <tr>
                            <td class="text-muted">Defense</td>
                            <td>@Pokemon.PokemonStats.Defense</td>
                            <td style="vertical-align:middle !important">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </td>
                            <td>100</td>
                            <td>200</td>
                        </tr>
                        <tr>
                            <td class="text-muted">Sp. Atk</td>
                            <td>@Pokemon.PokemonStats.SpAttack</td>
                            <td style="vertical-align:middle !important">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </td>
                            <td>100</td>
                            <td>200</td>
                        </tr>
                        <tr>
                            <td class="text-muted">Sp. Def</td>
                            <td>@Pokemon.PokemonStats.SpDefense</td>
                            <td style="vertical-align:middle !important">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </td>
                            <td>100</td>
                            <td>200</td>
                        </tr>
                        <tr>
                            <td class="text-muted">Speed</td>
                            <td>@Pokemon.PokemonStats.Speed</td>
                            <td style="vertical-align:middle !important">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </td>
                            <td>100</td>
                            <td>200</td>
                        </tr>
                        <tr>
                            <td class="text-muted">Total</td>
                            <td>@Pokemon.PokemonStats.Total</td>
                            <td>  
                            </td>
                            <td>Min</td>
                            <td>Max</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>
}

@code {
    public FullPokemon Pokemon { get; set; }
    public int PokemonId { get; set; } = 0;
    List<List<DropdownModel>> dropdowns = new List<List<DropdownModel>>();
    int numberOfGenerations = 7;

    protected override void OnInit()
    {
        base.OnInit();
    }
    protected override async Task OnInitAsync()
    {
        foreach (var i in Enumerable.Range(1, numberOfGenerations))
        {
            dropdowns.Add(await CreateDropdownModelData(i));
        }
    }

    void PokemonChangedHandler(int pokemonId)
    {
        PokemonId = pokemonId;
    }

    private async Task<List<DropdownModel>> CreateDropdownModelData(int id)
    {
        var list = await Http.GetJsonAsync<List<Pokemons>>($"api/Generation/{id}/pokemons");
        list.ForEach(elem => elem.Name = elem.Name.First().ToString().ToUpper() + elem.Name.Substring(1));
        List<DropdownModel> newList = new List<DropdownModel>();
        list.ForEach(item =>
            newList.Add(new DropdownModel { Id = item.Id, Text = item.Name }));
        return newList;
    }
}

